<div class="products">
  <div class="name">
    <h2>NAME</h2>
    <ul class="list">
      {{#each model as |product|}}
        <li>
          {{product.name}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="qty">
    <h2>QTY</h2>
    <ul class="list">
      {{#each model as |product|}}
        <li>
          {{product.qty}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="price">
    <h2>PRICE</h2>
    <ul class="list">
      {{#each model as |product|}}
        <li>
          {{product.price}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
