<div class="container">
  <div class="inner-container">
    <h2>SHOPS</h2>
    <div class="shops-container">
      <ul class="list">
        {{#each model as |shop|}}
          <li>
            {{shop.name}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
